body {
    background-color:#dbe7e4;
    text-align: center;
}
#carouselDeaf {text-align: center;}
#carouselDeaf {max-width:600px;}
#carouselDeaf {margin: 0 auto}
#carouselBlind {text-align: center;}
#carouselBlind {max-width:600px;}
#carouselBlind {margin: 0 auto}
h2 {text-align: center;}
p {
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
  }
  .icon {max-width: 40px;}
  
  